<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASCII-CHAN~</title>
</head>
<body>
<style type="text/css">
    .error{
        color: red;
    }
</style>
    <form method="post">
        <label>
            <div>title</div>
            <input type="text" name="title" value="{{title}}">
        </label>

        <label>
            <div>art</div>
            <textarea name="art">{{art}}</textarea>
        </label>
        <input type="submit" style="display: block">
        <div class="error">{{error}}</div>
    </form>
    <hr>
    {% for art in arts %}
        <div class="art">
            <div class="art-title">{{art.title}}</div>
            <pre class="art-body">{{art.art}}</pre>
        </div>
    {% endfor %}
</body>
</html>